body{
    background: #7a767e;
}

header{
    background: #48424e;
    color:white;
    padding:20px;
}

.menu{
    display:flex;
    justify-content:center;
    gap:25px;
    list-style:none;
}

.menu li a{
    color:white;
    text-decoration:none;
}

form{
    display:flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea{
    padding: 10px;
}

button{
    padding:10px;
    cursor:pointer;
}

@media(max-width:768px){
    .menu{
        flex-direction: column;
        align-items: center;
    }
}
